#projects {
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.project-container {
    flex-basis: clamp(10vw, 620px, 460px);

    min-width: 450px;
    max-width: 600px;

    height: auto;
    overflow: hidden;

    transition: all .5s;
}
.img-projeto {
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.project-info, .link-container {
    visibility: hidden;
    transition: all .6s;
}
.link-container {
    transition: visibility .6s;
}

.project-container:hover .project-info {
    visibility: visible;
    background-color: #0000009e;
    transform: translateY(-115px);
    padding-bottom: 1em;
    padding-left: 5px;
    width: 100%;

}
.project-container:hover .link-container {
    visibility: visible;
    transform: translate(230px, -220px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-info > .lang-icon {
    width: 40px;
    opacity: .9;
}

.project-info > h3 {
    font-size: 2em;
} 

.link-container > .botao-link {
    width: 130px;
    text-align: center;

    position: relative;

    padding: 5px;

    border-radius: 2em;
    cursor: pointer;

    font-size: 1.3em;
    font-weight: bolder;

    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
}
