i {
    font-size: 4em;
    z-index: 2;
    transition: all .5s;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: var(--gradient-theme);
    filter: drop-shadow(2px 2px 0px var(--secondary-color));
}

.slider-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.project-container.active-right, .project-container.active-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
} 
.project-container {
    width: clamp(80vw, 37.5em, 22.5em);
    height: clamp(80vh, 450px, 400px);
    overflow: hidden;

    display: none;

    position: relative;

    transition: all .5s;
}
.link-container {
    visibility: hidden;
    transition: all .6s;
    transform: translateY(100px);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

    width: 100%;
}

.project-container:hover .link-container {
    visibility: visible;
    transform: translateY(0);
    background-color: #0000009e;
}
.project-container:hover img {
    filter: none;
}

.botao-link:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 0;
    height: 100%;

    background-image: var(--gradient-theme);
    transition: all .5s;
}
.botao-link:hover:before {
    width: 100%;
}

.link-container > .botao-link {
    width: 130px;
    text-align: center;

    position: relative;

    padding: 5px;

    border-radius: 2em;
    cursor: pointer;

    font-size: 1.3em;
    font-weight: bolder;

    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
}

.project-container > img {
    position: absolute;
        top: 0;
        left: 0;

    filter: grayscale();

    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: filter .8s ease;
}