* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Typo Formal", Arial;
    color: inherit;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #a09e9e;

    --primary-theme-color: #50abf7;
    --secondary-theme-color: #fa4df1;

    --gradient-theme: linear-gradient(to right, var(--secondary-theme-color), var(--primary-theme-color));
    --gradient-theme-reverse: linear-gradient(to right, var(--primary-theme-color), var(--secondary-theme-color));
    --gradient-theme-bottom: linear-gradient(to bottom, var(--primary-theme-color), var(--secondary-theme-color));

    --heading-font: clamp(5vw, 3.75em, 2.18em);
    --subheading-font: clamp(4vw, 2.75em, 2em);
    --small-heading-font: clamp(3vw, 2.3em, 1.8em);
    --text-font: clamp(1.5vw, 1.8em, 1.4em);

}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb {
    background: var(--gradient-theme-bottom);
    border-radius: 5px;
}