#services {
    width: 100%;
    height: fit-content;

    align-items: center;
    justify-content: center;

    gap: 4em;
}

.slider {
    position: relative;

    padding: 4px;
    width: 100%;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.slider > article {
    text-align: center;

    flex-basis: 10px;
    
    max-width: 480px;
    min-width: 300px;

    border-radius: 4px;
    
    margin: auto;
    padding: 6px;
    transition: all .5s;
}
.slider > article:hover {
    background: #222;
}

.slider > article > h3 {
    font-size: var(--small-heading-font);
}
.slider > article > p {
    text-align: center;
    font-size: var(--text-font);
    padding: 5px;
}
.dev-icon {
    min-width: 90px;
    max-width: 140px;
    height: auto;
}

.slider > button {
    position: absolute;
    background: none;

    cursor: pointer;
}
.slider > button:hover {
    font-size: 1em;
}
.slider > button.left {
    top: 40%;
        left: 1em;
}
.slider > button.right {
    top: 40%;
        right: 1em;
}